Data from Kaggle. Iowa Housing Prices Prediction Exercise.

In [1]:
#importing Pandas, Numpy and Matplotlib
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
#load the traning data into a pandas dataframe
data = pd.read_csv('iowadata/train.csv')

In [3]:
#having a look at first top records
data.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

Next we look at Summary statistics for the numeric features (columns)

In [4]:
#summary statistics
data.describe()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SalePrice
count,1460.000000,1460.000000,1201.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1452.000000,1460.000000,...,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000
mean,730.500000,56.897260,70.049958,10516.828082,6.099315,5.575342,1971.267808,1984.865753,103.685262,443.639726,...,94.244521,46.660274,21.954110,3.409589,15.060959,2.758904,43.489041,6.321918,2007.815753,180921.195890
std,421.610009,42.300571,24.284752,9981.264932,1.382997,1.112799,30.202904,20.645407,181.066207,456.098091,...,125.338794,66.256028,61.119149,29.317331,55.757415,40.177307,496.123024,2.703626,1.328095,79442.502883
min,1.000000,20.000000,21.000000,1300.000000,1.000000,1.000000,1872.000000,1950.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2006.000000,34900.000000
25%,365.750000,20.000000,59.000000,7553.500000,5.000000,5.000000,1954.000000,1967.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.000000,2007.000000,129975.000000
50%,730.500000,50.000000,69.000000,9478.500000,6.000000,5.000000,1973.000000,1994.000000,0.000000,383.500000,...,0.000000,25.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000,2008.000000,163000.000000
75%,1095.250000,70.000000,80.000000,11601.500000,7.000000,6.000000,2000.000000,2004.000000,166.000000,712.250000,...,168.000000,68.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.000000,2009.000000,214000.000000
max,1460.000000,190.000000,313.000000,215245.000000,10.000000,9.000000,2010.000000,2010.000000,1600.000000,5644.000000,...,857.000000,547.000000,552.000000,508.000000,480.000000,738.000000,15500.000000,12.000000,2010.000000,755000.000000

**Veiwing Columns**
In order to properly view and understand the features we are dealing with, we need to take a look at all the variables

In [5]:
#view columns
data.columns

Index(['Id', 'MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'Street',
       'Alley', 'LotShape', 'LandContour', 'Utilities', 'LotConfig',
       'LandSlope', 'Neighborhood', 'Condition1', 'Condition2', 'BldgType',
       'HouseStyle', 'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd',
       'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType',
       'MasVnrArea', 'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual',
       'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1',
       'BsmtFinType2', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'Heating',
       'HeatingQC', 'CentralAir', 'Electrical', '1stFlrSF', '2ndFlrSF',
       'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath',
       'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual',
       'TotRmsAbvGrd', 'Functional', 'Fireplaces', 'FireplaceQu', 'GarageType',
       'GarageYrBlt', 'GarageFinish', 'GarageCars', 'GarageArea', 'GarageQual',
       'GarageCond', 'PavedDrive', 'WoodDeckSF', 'OpenPorchSF',
       'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'PoolQC',
       'Fence', 'MiscFeature', 'MiscVal', 'MoSold', 'YrSold', 'SaleType',
       'SaleCondition', 'SalePrice'],
      dtype='object')

**Taking Care of Missing Values**

In [6]:
#simple dropna
#data = data.dropna(axis=0)

In [7]:
data.describe()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SalePrice
count,1460.000000,1460.000000,1201.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1452.000000,1460.000000,...,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000
mean,730.500000,56.897260,70.049958,10516.828082,6.099315,5.575342,1971.267808,1984.865753,103.685262,443.639726,...,94.244521,46.660274,21.954110,3.409589,15.060959,2.758904,43.489041,6.321918,2007.815753,180921.195890
std,421.610009,42.300571,24.284752,9981.264932,1.382997,1.112799,30.202904,20.645407,181.066207,456.098091,...,125.338794,66.256028,61.119149,29.317331,55.757415,40.177307,496.123024,2.703626,1.328095,79442.502883
min,1.000000,20.000000,21.000000,1300.000000,1.000000,1.000000,1872.000000,1950.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2006.000000,34900.000000
25%,365.750000,20.000000,59.000000,7553.500000,5.000000,5.000000,1954.000000,1967.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.000000,2007.000000,129975.000000
50%,730.500000,50.000000,69.000000,9478.500000,6.000000,5.000000,1973.000000,1994.000000,0.000000,383.500000,...,0.000000,25.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000,2008.000000,163000.000000
75%,1095.250000,70.000000,80.000000,11601.500000,7.000000,6.000000,2000.000000,2004.000000,166.000000,712.250000,...,168.000000,68.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.000000,2009.000000,214000.000000
max,1460.000000,190.000000,313.000000,215245.000000,10.000000,9.000000,2010.000000,2010.000000,1600.000000,5644.000000,...,857.000000,547.000000,552.000000,508.000000,480.000000,738.000000,15500.000000,12.000000,2010.000000,755000.000000

In [8]:
#check columns again
data.columns

Index(['Id', 'MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'Street',
       'Alley', 'LotShape', 'LandContour', 'Utilities', 'LotConfig',
       'LandSlope', 'Neighborhood', 'Condition1', 'Condition2', 'BldgType',
       'HouseStyle', 'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd',
       'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType',
       'MasVnrArea', 'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual',
       'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1',
       'BsmtFinType2', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'Heating',
       'HeatingQC', 'CentralAir', 'Electrical', '1stFlrSF', '2ndFlrSF',
       'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath',
       'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual',
       'TotRmsAbvGrd', 'Functional', 'Fireplaces', 'FireplaceQu', 'GarageType',
       'GarageYrBlt', 'GarageFinish', 'GarageCars', 'GarageArea', 'GarageQual',
       'GarageCond', 'PavedDrive', 'WoodDeckSF', 'OpenPorchSF',
       'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'PoolQC',
       'Fence', 'MiscFeature', 'MiscVal', 'MoSold', 'YrSold', 'SaleType',
       'SaleCondition', 'SalePrice'],
      dtype='object')

**Selecting the Prediction Target**

In [9]:
y = data.SalePrice

In [10]:
y.head()

0    208500
1    181500
2    223500
3    140000
4    250000
Name: SalePrice, dtype: int64



**Selecting the right features**

In [11]:
features = ['LotArea','YearBuilt','1stFlrSF','2ndFlrSF','FullBath','BedroomAbvGr','TotRmsAbvGrd']

X = data[features]

In [12]:
print(X)

      LotArea  YearBuilt  1stFlrSF  2ndFlrSF  FullBath  BedroomAbvGr  \
0        8450       2003       856       854         2             3
1        9600       1976      1262         0         2             3
2       11250       2001       920       866         2             3
3        9550       1915       961       756         1             3
4       14260       2000      1145      1053         2             4
5       14115       1993       796       566         1             1
6       10084       2004      1694         0         2             3
7       10382       1973      1107       983         2             3
8        6120       1931      1022       752         2             2
9        7420       1939      1077         0         1             2
10      11200       1965      1040         0         1             3
11      11924       2005      1182      1142         3             4
12      12968       1962       912         0         1             2
13      10652       2006      1494         0         2             3
14      10920       1960      1253         0         1             2
15       6120       1929       854         0         1             2
16      11241       1970      1004         0         1             2
17      10791       1967      1296         0         2             2
18      13695       2004      1114         0         1             3
19       7560       1958      1339         0         1             3
20      14215       2005      1158      1218         3             4
21       7449       1930      1108         0         1             3
22       9742       2002      1795         0         2             3
23       4224       1976      1060         0         1             3
24       8246       1968      1060         0         1             3
25      14230       2007      1600         0         2             3
26       7200       1951       900         0         1             3
27      11478       2007      1704         0         2             3
28      16321       1957      1600         0         1             2
29       6324       1927       520         0         1             1
...       ...        ...       ...       ...       ...           ...
1430    21930       2005       734      1104         2             4
1431     4928       1976       958         0         2             2
1432    10800       1927       968         0         2             4
1433    10261       2000       962       830         2             3
1434    17400       1977      1126         0         2             3
1435     8400       1962      1537         0         1             3
1436     9000       1971       864         0         1             3
1437    12444       2008      1932         0         2             2
1438     7407       1957      1236         0         1             2
1439    11584       1979      1040       685         2             3
1440    11526       1922      1423       748         2             3
1441     4426       2004       848         0         1             1
1442    11003       2008      1026       981         2             3
1443     8854       1916       952         0         1             2
1444     8500       2004      1422         0         2             3
1445     8400       1966       913         0         1             3
1446    26142       1962      1188         0         1             3
1447    10000       1995      1220       870         2             3
1448    11767       1910       796       550         1             2
1449     1533       1970       630         0         1             1
1450     9000       1974       896       896         2             4
1451     9262       2008      1578         0         2             3
1452     3675       2005      1072         0         1             2
1453    17217       2006      1140         0         1             3
1454     7500       2004      1221         0         2             2
1455     7917       1999       953       694         2             3
1456    13175       1978      2073         0         2             3
1457     9042       1941      1188      1152         2             4
1458     9717       1950      1078         0         1             2
1459     9937       1965      1256         0         1             3

      TotRmsAbvGrd
0                8
1                6
2                6
3                7
4                9
5                5
6                7
7                7
8                8
9                5
10               5
11              11
12               4
13               7
14               5
15               5
16               5
17               6
18               6
19               6
20               9
21               6
22               7
23               6
24               6
25               7
26               5
27               7
28               6
29               4
...            ...
1430             7
1431             5
1432             5
1433             8
1434             5
1435             7
1436             5
1437             7
1438             6
1439             6
1440            11
1441             3
1442            10
1443             4
1444             7
1445             6
1446             6
1447             8
1448             6
1449             3
1450             8
1451             7
1452             5
1453             6
1454             6
1455             7
1456             7
1457             9
1458             5
1459             6

[1460 rows x 7 columns]

In [13]:
X.head()

,LotArea,YearBuilt,1stFlrSF,2ndFlrSF,FullBath,BedroomAbvGr,TotRmsAbvGrd
0,8450,2003,856,854,2,3,8
1,9600,1976,1262,0,2,3,6
2,11250,2001,920,866,2,3,6
3,9550,1915,961,756,1,3,7
4,14260,2000,1145,1053,2,4,9

**Now to Fit a model using a DecisionTree Algorithm**

In [14]:
from sklearn.tree import DecisionTreeRegressor

In [15]:
my_model = DecisionTreeRegressor()

In [16]:
my_model.fit(X,y)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
           max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           presort=False, random_state=None, splitter='best')

**Looking at actual SalePrices vs Predicted Sale Prices**

In [17]:
#print out Sale Price
data.SalePrice.head()

0    208500
1    181500
2    223500
3    140000
4    250000
Name: SalePrice, dtype: int64

In [18]:
#print out predicted Sale Prices
my_model.predict(X.head())

array([208500., 181500., 223500., 140000., 250000.])

**Model Validation**

In [19]:
from sklearn.metrics import mean_absolute_error

In [20]:
predicted_sale_prices = my_model.predict(X)

In [21]:
mean_absolute_error(y,predicted_sale_prices)

62.35433789954339

**Issues with In-Sample Data**
Because we used the same records to train and test, there could be issues of Overfitting.
To avoid that, the data needs to be split into training and test data before fitting the model

In [22]:
from sklearn.cross_validation import train_test_split

In [23]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=0,test_size=.3)

In [26]:
X_test.describe()

,LotArea,YearBuilt,1stFlrSF,2ndFlrSF,FullBath,BedroomAbvGr,TotRmsAbvGrd
count,438.000000,438.000000,438.000000,438.000000,438.000000,438.000000,438.000000
mean,10397.504566,1972.031963,1164.737443,328.949772,1.538813,2.801370,6.445205
std,9227.659835,30.131351,414.944155,426.254457,0.571721,0.841867,1.647538
min,1477.000000,1882.000000,483.000000,0.000000,0.000000,0.000000,3.000000
25%,7319.750000,1954.000000,869.750000,0.000000,1.000000,2.000000,5.000000
50%,9240.500000,1973.500000,1072.000000,0.000000,2.000000,3.000000,6.000000
75%,11659.250000,2002.000000,1389.500000,719.250000,2.000000,3.000000,7.000000
max,159000.000000,2009.000000,4692.000000,2065.000000,3.000000,6.000000,12.000000

In [27]:
my_model.fit(X_train, y_train)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
           max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           presort=False, random_state=None, splitter='best')

In [29]:
predicte_home_prices = my_model.predict(X_test)
print(mean_absolute_error(y_test, predicte_home_prices))

32554.0502283105

**Decsion Tree, Max-Nodes**
The number nodes on a tree can contribute significantly to the accuracy of a model. It can also impact overfitting and underfitting. Next, a function will be written to help tweak the model. Applying different max nodes until one with the best MAE is found

In [30]:
#this function applies different maximum nodes to a DecisionTreeRegression algorithm
def get_mae(max_nodes, X_train, X_test, y_train, y_test):
    model = DecisionTreeRegressor(max_leaf_nodes=max_nodes)
    model.fit(X_train, y_train)
    predicted = model.predict(X_test)
    mae = mean_absolute_error(y_test,predicted)
    return mae

In [36]:
for max_node in [36, 39, 38]:
    print(max_node)
    print(get_mae(max_node, X_train, X_test, y_train, y_test))
    print('\n')

36
28021.36861311744


39
28148.442721053558


38
27991.545611313977

**Using Random Forests for the same data**

In [37]:
from sklearn.ensemble import RandomForestRegressor
model = RandomForestRegressor()
model.fit(X_train,y_train)
predicted = model.predict(X_test)
print(mean_absolute_error(y_test, predicted))

24282.02272450533